.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: #eef1f4 !important;
}

/* Fonts */
@font-face {
  font-family: myFirstFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Bold.woff2");
}
@font-face {
  font-family: mySecondFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-SemiBold.woff2");
}
@font-face {
  font-family: myThirdFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Medium.woff2");
}
@font-face {
  font-family: myFourthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Light.woff2");
}
@font-face {
  font-family: myFifthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/otf/QanelasSoft-Bold.otf");
}
@font-face {
  font-family: mySixthFont;
  src: url("Fonts/Qanelas-Font-Family/ttf/QanelasSoft-Black.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  height: 250px;
  /* top: 272px !important; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* loan - calculator */
.rs-slider-progress-bar {
  background-color: #2079ff !important;
  height: 8px !important;
}
.rs-slider-bar {
  height: 8px !important;
}
.rs-slider-handle:before {
  width: 32px !important;
  height: 32px !important;
  top: -8px;
  background: #dadada !important;
  box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.25) inset,
    -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none !important;
}
.handle:hover .rs-tooltip {
  background-color: #dadada;
}
.rs-input-number-btn-group-vertical {
  display: none !important;
}
.rs-input {
  background-color: "#f6f6f6" !important;
}
/* .rs-input-number > .rs-input {
  padding: 0px !important;
  text-align: end;
  z-index: 0;
  background: transparent;
  border: "1px solid rgba(47, 47, 47, 0.25)";
  font-size: 18px;
  font-family: myThirdFont;
} */
